<!-- Top Bar -->
<div id="top-bar" class="bg-gray-100 fixed top-0 right-0 left-0 py-2">
  <p class="text-center py-2 font-semibold">
    0% APR available for qualified buyers
  </p>
</div>

<!-- Header -->
<header class="flex justify-between items-center px-10 py-6 mt-16">
  <img src="assets/images/logo.svg" alt="Tesla" width="120" height="24" />
  <button>
    <i class="fa-solid fa-globe"></i> <span class="font-bold">US</span>
  </button>
</header>

<main class="flex flex-col md:flex-row justify-between px-4 md:px-10 py-6">
  <!-- Image Section -->
  <section class="w-full md:w-3/4">
    <div class="sticky top-24">
      <!-- Exterior Image -->
      <div
        class="h-96 bg-gray-200 flex items-center justify-center overflow-hidden mb-4"
      >
        <img
          [src]="'assets/images/model-y-' + exteriorImage() + '.jpg'"
          alt="Model Y"
          class="max-w-full h-auto transform scale-125"
          id="exterior-image"
        />
      </div>

      <!-- Interior Image -->
      <div
        class="h-96 bg-gray-200 flex items-center justify-center overflow-hidden mb-4"
      >
        <img
          [src]="'assets/images/model-y-interior-' + interiorImage() + '.jpg'"
          alt="Model Y Interior"
          class="max-w-full h-auto transform scale-125"
          id="interior-image"
        />
      </div>
    </div>
  </section>

  <!-- Sidebar -->
  <aside class="w-full md:w-1/3 pl-0 md:pl-8 mt-6 md:mt-0 z-2">
    <h1 class="text-5xl text-center font-bold mb-5">Model Y</h1>
    <h2 class="text-xl text-center font-light">Customize Your Car</h2>

    <!-- Exterior Buttons -->
    <div class="my-8" id="exterior-buttons">
      <h3 class="font-semibold mb-2">Exterior Color</h3>
      <div class="flex space-x-4">
        @for(button of exteriorButtonImages; track button; let idx = $index){
        <button
          class="transition-transform duration-300 hover:scale-110"
          [class.btn-selected]="exteriorImage() === exteriorButtonImages[idx]"
          (click)="selectExteriorColor(button)"
        >
          <img
            [src]="'assets/images/button-' + button + '.avif'"
            alt="Stealth Grey"
            class="w-22"
          />
        </button>
        }
      </div>
    </div>

    <!-- Interior Buttons -->
    <div class="my-8" id="interior-buttons">
      <h3 class="font-semibold mb-2">Interior Color</h3>
      <div class="flex space-x-4">
        @for(button of interiorButtonImages; track button; let idx = $index){
        <button
          class="transition-transform duration-300 hover:scale-110"
          [class.btn-selected]="interiorImage() === interiorButtonImages[idx]"
          (click)="selectInteriorColor(button)"
        >
          <img
            [src]="'assets/images/button-' + button + '.avif'"
            alt="Dark"
            class="w-12"
          />
        </button>
        }
      </div>
    </div>

    <!-- Wheel Buttons -->
    <div class="mb-8" id="wheel-buttons">
      <h3 class="font-semibold mb-2">Wheels</h3>
      @for(w of wheelButtons; track w.name){
      <button
        class="w-full py-4 mb-2 bg-gray-200 hover:bg-gray-500 hover:text-white text-white rounded-lg transition-colors duration-300"
        [class.bg-gray-700]="w.name === wheelButtonSelected().name"
        (click)="onSelectWheelButton(w)"
      >
        {{ w.name }}
      </button>
      }
    </div>

    <!-- Full Self Driving Option -->
    <div class="border p-4 mb-8 rounded-lg shadow">
      <h3 class="font-semibold mb-2">Full Self-Driving</h3>
      <label class="flex items-center space-x-3">
        <input
          type="checkbox"
          id="full-self-driving-checkbox"
          class="form-checkbox h-5 w-5 text-blue-600"
          [(ngModel)]="fullSelfDrivingCost"
        />
        <span>Add Full Self-Driving for $8,500</span>
      </label>
    </div>

    <!-- Performance Upgrade -->
    <div class="mb-8">
      <h3 class="font-semibold mb-2">Performance Package</h3>
      <button
        class="w-full py-4 mb-2 bg-gray-200 hover:bg-gray-500 hover:text-white text-white rounded-lg transition-colors duration-300"
        [class.bg-gray-700]="performanceUpgradeSelected()"
        (click)="selectPerformanceUpgrade()"
      >
        Performance Upgrade (+$5,000)
      </button>
    </div>

    <!-- Accessories Checkboxes -->
    <div class="my-8">
      <h3 class="font-semibold mb-2">Accessories</h3>
      <div class="space-y-4">
        <label
          class="flex items-center justify-between py-4 px-4 border rounded-lg shadow"
        >
          <span>Center Console Trays</span>
          <span class="flex items-center space-x-2">
            <input
              type="checkbox"
              class="accessory-form-checkbox h-5 w-5"
              [(ngModel)]="centerConsoleTrays"
            />
            <span>$35</span>
          </span>
        </label>
        <label
          class="flex items-center justify-between py-4 px-4 border rounded-lg shadow"
        >
          <span>Sunshade</span>
          <span class="flex items-center space-x-2">
            <input
              type="checkbox"
              class="accessory-form-checkbox h-5 w-5"
              [(ngModel)]="sunshade"
            />
            <span>$105</span>
          </span>
        </label>
        <label
          class="flex items-center justify-between py-4 px-4 border rounded-lg shadow"
        >
          <span>All-Weather Interior Liners</span>
          <span class="flex items-center space-x-2">
            <input
              type="checkbox"
              class="accessory-form-checkbox h-5 w-5"
              [(ngModel)]="allWeatherInteriorLiners"
            />
            <span>$225</span>
          </span>
        </label>
      </div>
    </div>

    <!-- Total Price Section -->
    <div class="pt-4">
      <h3 class="font-semibold text-lg">Total Price</h3>
      <p id="total-price" class="text-2xl font-bold">
        {{ totalPrice() | currency }}
      </p>
    </div>

    <!-- Payment Breakdown -->
    <div class="border-t pt-4 mt-6">
      <h3 class="font-semibold text-lg">Estimated Payment Breakdown</h3>
      <div class="mt-4">
        <p>
          Down Payment:
          <span id="down-payment" class="font-bold">{{
            downPayment() | currency
          }}</span>
        </p>
        <p>Loan Term: <span class="font-bold">60 Months</span></p>
        <p>Interest Rate: <span class="font-bold">3% APR</span></p>
        <p>
          Estimated Monthly Payment:
          <span id="monthly-payment" class="font-bold text-2xl">{{
            monthlyPayment() | currency
          }}</span>
        </p>
      </div>
    </div>
  </aside>
</main>
